html, body {
  height: 100%;
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
}

.bg-black {
  background-color: black;
}

.visualisation {
  width: 1280px;
  height: 720px;
}

#vis-holder {
  overflow: hidden;
}

#controls {
  z-index: 100;
  opacity: 1;
  top: 540px;
  left: 100px;
  font-size: 40px;
  color: white;
}

#controls-themes, #controls-funders, .nice-select {
  font-size: 20px !important;
}

.nice-select {
  border: none !important;
  border-bottom: dashed 1px white !important;
  margin-bottom: -14px !important;
}

.nice-select, .nice-select .list {
  background-color: rgba(0, 0, 0, 1) !important;
  color: white !important;
  font-weight: bold !important;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: rgba(255, 255, 255, 0.5) !important;
  color: black !important;
}

#themes, #funders {
  display: inline;
}

#chart-holder {
  opacity: 0.9;
  mix-blend-mode: hue;
  width: 400px;
  height: 400px;
  top: 300px;
  left: 800px;
}

#chart-tooltip {
  display: none;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  color: white;
  top: 660px;
  left: 900px;
}
