html, body {
  height: 100%;
}

html, body, .ui-widget {
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
}

a {
  color: white !important;
}

.bg-black {
  background-color: black;
}

.visualisation {
  width: 1280px;
  height: 720px;
}

#vis-holder {
  overflow: hidden;
}

#loading {
  z-index: 200;
  background-color: black;
}

#start {
  display: none;
}

#start-button {
  font-size: 2rem !important;
}

#controls {
  z-index: 100;
  opacity: 1;
  top: 50px;
  left: 100px;
  font-size: 40px;
  color: white;
}

#controls-themes, #controls-funders, .nice-select, #controls-buttons, #chart-tooltip {
  font-size: 20px !important;
}

.nice-select {
  border: none !important;
  border-bottom: dashed 1px white !important;
  margin-bottom: -14px !important;
}

.nice-select, .nice-select .list {
  background-color: rgba(0, 0, 0, 1) !important;
  color: white !important;
  font-weight: bold !important;
}

.nice-select.open .list {
  max-height: 180px;
  overflow: scroll;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: rgba(255, 255, 255, 0.5) !important;
  color: black !important;
}

#themes, #funders {
  display: inline;
}

button {
  border-radius: 5px;
  font-weight: bold;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
}

button.highlighted {
  color: #fff !important;
  background-color: #007bff !important;
  border-color: #007bff !important;
}

button.highlighted .ui-icon-pause {
  -webkit-filter: brightness(200%);
  filter: brightness(200%);
}

#chart-holder {
  opacity: 0.9;
  mix-blend-mode: hue;
  width: 400px;
  height: 400px;
  top: 300px;
  left: 800px;
}

#chart-tooltip {
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  top: 650px;
  left: 500px;
}
